#{extends 'main.html' /}
#{set title:'GardenDroid Edit User Report' /}
<script type="text/javascript">
$(document).ready(function() {
	var settings = {
			  padding: 20,
			  width: 300,
			  spikeLength: 100,
			  spikeGirth: 20,
			  cornerRadius: 30,
			  fill: '#BAC36E',	
			  strokeWidth: 2,
			  strokeStyle: '#3C4313',
			  cssStyles: {color: '#3C4313', fontWeight: 'bold'},
			  positions: ['right','left']
			};
	
		$('#help-tip1').bt(settings);
		$('#help-tip2').bt(settings);
		$('#help-tip3').bt(settings);
		$('#help-tip4').bt(settings);
		$('#help-tip5').bt(settings);
		$('#help-tip6').bt(settings);
	});
	
</script>
#{form @ReportsManager.saveUserScript(script?.id)}
#{ifErrors}
   #{errors}
       <li class="error">${error}</li>
   #{/errors}
#{/ifErrors}
<table>
	<tr><td width=340px>
        <label for="name">Script name: </label></td>
        <td width=70%>
        	#{field 'name'}
        	<input class="large_field ${field.errorClass}" type="text" name="${field.name}" id="${field.name}" value="${script?.name}"/>
        	#{/field}&nbsp;<span class="help-tip" id="help-tip1" title="The name you want to call this Report.">&nbsp;?&nbsp;</span>
    	</td></tr>
   	<tr><td>
        <label for="dateCreated">DateCreated: </label></td><td>
       ${script?.dateCreated ? (script?.dateCreated?.format('yyyy-MM-dd')) : (new Date()).format('yyyy-MM-dd')}
    </td></tr>
    <tr>
    	<td>
	        <label for="scientificName">Description: </label></td><td>
	        #{field 'description'}
	        	<input class="large_field ${field.errorClass}" type="text" name="${field.name}" id="${field.name}" value="${script?.description}"/>
	        #{/field}&nbsp;<span class="help-tip" id="help-tip2" title="Just notes to remind you of what this does.">&nbsp;?&nbsp;</span>
	    </td>
    </tr>
    <tr>
    	<td>
	        <label for="scientificName">Start Date: </label></td><td>
	        #{field 'startDate'}
	        	<input class="large_field ${field.errorClass}" type="text" name="${field.name}" id="${field.name}" value="${script?.startDate ? (script?.startDate?.format('yyyy-MM-dd')) : ''}"/>
	        #{/field}&nbsp;<span class="help-tip" id="help-tip3" title="Optional, Starting Date Range for Sensor Data in format 'yyyy-MM-dd'">&nbsp;?&nbsp;</span>
	    </td>
    </tr>
    <tr>
    	<td>
	        <label for="scientificName">End Date: </label></td><td>
	        #{field 'endDate'}
	        	<input class="large_field ${field.errorClass}" type="text" name="${field.name}" id="${field.name}" value="${script?.endDate ? (script?.endDate?.format('yyyy-MM-dd')) : ''}"/>
	        #{/field}&nbsp;<span class="help-tip" id="help-tip4" title="Optional, Ending Date Range for Sensor Data in format 'yyyy-MM-dd'">&nbsp;?&nbsp;</span>
	    </td>
    </tr>
    <tr>
    	<td>
	        <label for="plantDataId">Planting: </label></td><td>
	        #{plantingSelect plantData:plantings, planted:script?.planting /}
	        &nbsp;<span class="help-tip" id="help-tip4" title="Optional, specify if you want to work with a specific planting.">&nbsp;?&nbsp;</span>
	    </td>
    </tr>
    <tr>
    	<td>
	        <label for="scientificName">Return Only Active Plantings: </label></td><td>
	        #{field 'activeOnlyPlantings'}
	        	<input class="small_field" type="checkbox" name="${field.name}" id="${field.name}"  #{if script?.activeOnlyPlantings} checked="checked" #{/if} />
	        #{/field}&nbsp;<span class="help-tip" id="help-tip5" title="Limits the Plantings to only active, if uncehcked you will get all past plantings as well as current.">&nbsp;?&nbsp;</span>
	    </td>
    </tr>
    
    <tr>
    	<td valign="top">
        	<label for="notes">Your Script: </label>
        </td>
        <td valign="top">
	        #{field 'scriptBody'}
	        <textarea class="${field.errorClass}" name="${field.name}" id="${field.name}">${script?.script}</textarea>
	        #{/field}&nbsp;<span class="help-tip" id="help-tip6" title="This should be a groovy script which ends with a return statement. The following objects are available to your script: <ul><li>sensorData - [List]<li>plantings - [List]</ul><br>At this time you should return a string containing display HTML, to display a slick table liek the ones used elsewhere int he app simply include class='display' id='ReportTable' in the table tag. You can also copy the code samples from one of the default reports for guidance. ">&nbsp;?&nbsp;</span>
    	</td></tr>
    <tr><td colspan="2">
        <input type="submit" value="Submit Script" />&nbsp;&nbsp;&nbsp;<input id="deleteScript" name="deleteScript" type="submit" value="Delete" /></td>
    </tr>
</table>
#{/form}