*{ Display a post in one of these modes: 'log' or 'err'  }*

%{
def msgType = 'Log'
def dtlLink = 'logs'
if(_as == 'err') {
	msgType = 'Error'
	dtlLink = 'errors'
}
}%


    <div class="older-posts">    
        <a href='/${dtlLink}'><h3>Most Recent ${msgType} Messages</h3></a>
#{if _logData.size() > 0}    
        #{list items:_logData, as:'logData'}
            <div class="post">
                <span class="post-title">
                    <a href="#">${logData.dateTime.format('dd MMM yy hh:mm:ss')}</a>
                </span>&nbsp;
                <span class="post-metadata">
                    <span class="post-author">&nbsp;&nbsp; ${logData.message}</span>
                </span>
            </div>
        #{/list}
#{/if}        
    </div>
    
