*{ edit and add User Fields  }*
#{form @OptionsManager.postUserData() , id:'UserDataForm'}
<script type="text/javascript">
$(document).ready(function() {
	$('#userFieldsTable').dataTable( {
		"bLengthChange": false,
		"bFilter": false,
		"sPaginationType": "full_numbers"
	} );
} );

function setToEdit(id, name, desc , active) {
	$("#id").val(id);
	$("#name").val(name);
	$("#description").val(desc);
	$("#active").attr('checked',active);
}

function clearFields() {
	$("#id").val(-1);
	$("#name").val("");
	$("#description").val("");
	$("#active").attr('checked',false);
}
</script>
<BR>
<div class="option-dirs">User Defined fields : provide the ability to record observational data for later review ex. (plant height).</div>    
<br/><br/>
<input class="med_field" type="hidden" name="id" id="id" value="-1"/>
<table>
	<tr><td><label>Field Name</label></td><td ><label>Description</label><td colspan=3><label>Active</label></td></td></tr>
	<tr><td><input class="med_field" type="text" name="name" id="name" value=""/></td><td><input class="large_field" type="text" name="description" id="description" value=""/></td><td><input class="small_field" type="checkbox" name="active" id="active"/></td></td><td><input type="submit" value="Save" name="save"/></td><td><input type="button" value="Clear" name="Clear" onclick="clearFields();"/></td></tr>
</table>
<table cellpadding="4" cellspacing="1" border="0" class="display" id="userFieldsTable"> 
	<thead> 
		<tr> 
			<th width="200px">Name</th>
			<th width="300px">Description</th>
			<th width="100px">Active</th>
		</tr> 
	</thead> 
	<tbody>
    #{if _userFields?.size() > 0}
        #{list items:_userFields, as:'userType'}
        	<tr>
        		<td><div class="clickableText" onclick="setToEdit('${userType.id}','${userType.name}','${userType.description}',${userType.active} )"><b>${userType.name}</b></div></td>
        		<td>${userType.description}</td>
        		<td><center>
        		#{if userType.active}
        			<img alt="active" src="@{'/public/images/go.gif'}">
        		#{/if} 
        		#{else}
        			<img alt="inactive" src="@{'/public/images/stop.gif'}">
        		#{/else}</center>
        		</td>
        	</tr>
    	#{/list}
    #{/if}
    </tbody>		
</table>
#{/form}