#{extends 'main.html' /}
#{set title:'GardenDroid User Report' /}
<script type="text/javascript">
$(document).ready(function() {
	
	#{if script.reportType.toString() == "CHART"}
		var d1 = %{out.print(scriptResult)}%; 
		var options = d1.options;
		//Add some default styling.
		if(options.colors == null)
			options.colors = ["#FFFFFF"]; 
		options.grid.color = "#B8C569";
		options.series = { lines: { show: true, fill: true},points: { show: true, fill: false }};
		$.plot($("#placeholder"), [ d1.data ], options);
		
		//Supports click which displays the data values if clickable:true is set
		$("#placeholder").bind("plotclick", function (event, pos, item) {
	        if (item) {
	          alert("You hovered a point!" + item.datapoint[1]);
	        }
	    });
		
	#{/if}
	#{else}
	$('#reportTable').dataTable( {
		"bLengthChange": false,
		"sPaginationType": "full_numbers"
	} );
	#{/else}
} );

</script>
<h3><a href="@{ReportsManager.editUserScript(script.id)}" class="clickableText">${script.name}</a></h3>
<div class="option-dirs">${script.description}</div>
<hr/>
#{if script.reportType.toString() == "CHART"}
	<div id="placeholder" style="width:600px;height:300px;"></div>
#{/if}

%{ if(script.reportType.toString() == "SCRIPT") out.print(scriptResult)}%
%{ if(script.reportType.toString() == "TABLE") out.print(scriptResult)}%


