#{extends 'main.html' /}
#{extends 'main.html' /}
#{set title:'Edit Planted Data' /}
#{form @PlantLibraryAdmin.postPlantedData(planted?.id)}
#{ifErrors}
   #{errors}
       <li class="error">${error}</li>
   #{/errors}
#{/ifErrors}
<table>
	<tr><td>
        <label for="name">Plant name: </label></td>
        <td width=80%>
        	#{field 'name'}
        	<input class="large_field ${field.errorClass}" type="text" name="${field.name}" id="${field.name}" value="${planted?.name}"/>
        	#{/field}
    	</td></tr>
    <tr><td>
        <label for="scientificName">Date Planted: </label></td><td>
        #{field 'datePlanted'}
        	<input class="large_field ${field.errorClass}" type="text" name="${field.name}" id="${field.name}" value="${planted?.datePlanted?.format('yyyy-MM-dd')}"/>
        #{/field}
    </td></tr>
    <tr><td>
        <label for="isActive">Active: </label></td><td>
        #{field 'isActive'}
        <input class="small_field" type="checkbox" name="${field.name}" id="${field.name}" #{if planted?.isActive} checked="checked" #{/if} />
        #{/field}
    </td></tr>
    <tr><td>
        <label for="isDroidFarmed">Droid Managed: </label></td><td>
        <input class="small_field" type="checkbox" name="isDroidFarmed" id="isDroidFarmed"  #{if planted?.isDroidFarmed} checked="checked" #{/if} />
    </td></tr>
    <tr><td>
        <label for="plantCount">Plant Count: </label></td><td>
        <input class="small_field" name="plantCount" id="plantCount" value="${planted?.plantCount}" />
    </td></tr>
    <tr><td>
        <label for="harvestStart">Harvest Start Date: </label></td><td>
        <input class="med_field"  name="harvestStart" id="harvestStart" value="${planted?.harvestStart?.format('yyyy-MM-dd')}" />
    </td></tr>
    <tr><td>
        <label for="harvestEnd">Harvest End Date: </label></td><td>
        <input class="med_field"  name="harvestEnd" id="harvestEnd" value="${planted?.harvestEnd?.format('yyyy-MM-dd')}" />
    </td></tr>
    <tr><td>
        <label for="harvestYield">Harvest Yield (weight): </label></td><td>
        <input class="small_field" name="harvestYield" id="harvestYield" value="${planted?.harvestYield}" />
    </td></tr>
    <tr><td>
        <label for="plantDataId">Plant Data Type: </label></td><td>
        <select name="plantDataId" id="plantDataId" class="large_field" >
        	<option value="-1"> </option>
        	 #{list items:plantData, as:'plant'}
        	 	<option value="${plant.id}" #{if planted.plantData.id && plant.id ==  planted.plantData.id}selected="selected" #{/if}> ${plant.name} </option>
        	 #{/list}
        	 *{value="${planted?.plantData?.id?}"}*
        </select> 
    </td></tr>
    <tr><td>
        <label for="notes">Notes: </label></td><td>
        <textarea name="notes" id="notes">${planted?.notes}</textarea>
    </td></tr>
    <tr><td colspan="2">
        <input type="submit" value="Submit Plant" />&nbsp;&nbsp;&nbsp;<input type="button" value="Delete" /></td>
    </tr>
</table>
#{/form}