#{extends 'main.html' /}
#{set title:'Edit Plant Data' /}
#{form @PlantLibraryAdmin.postPlantData(plantData.id)}
<table>
	<tr><td>
        <label for="name">Plant name: </label></td>
        <td width=80%>
        	<input class="large_field" type="text" name="name" id="name" value="${plantData.name}"/>
    	</td></tr>
    <tr><td>
        <label for="scientificName">Scientific name: </label></td><td>
        <input class="large_field" name="scientificName" id="scientificName" value="${plantData.scientificName}" />
    </td></tr>
    <tr><td>
        <label for="name">Temp Low: </label></td><td>
        <input class="small_field" type="text" name="lowTemp" id="lowTemp" value="${plantData.lowTemp}" />
    </td></tr>
    <tr><td>
        <label for="notes">Temp High: </label></td><td>
        <input class="small_field" type="text" name="highTemp" id="highTemp" value="${plantData.highTemp}" />
    </td></tr>
    <tr><td>
        <label for="notes">Light Req: </label></td><td>
        <input class="med_field"  name="sunlight" id="sunlight" value="${plantData.sunlight}" />
    </td></tr>
    <tr><td>
        <label for="notes">Days til harvest : </label></td><td>
        <input class="small_field" name="daysTillHarvest" id="daysTillHarvest" value="${plantData.daysTillHarvest}" />
    </td></tr>
    <tr><td>
        <label for="notes">Days til harvest max: </label></td><td>
        <input class="small_field" name="daysTillHarvestEnd" id="daysTillHarvestEnd" value="${plantData.daysTillHarvestEnd}" />
    </td></tr>
    <tr><td>
        <label for="notes">Water Frequency (days): </label></td><td>
        <input class="small_field" name="waterFreqDays" id="waterFreqDays" value="${plantData.waterFreqDays}" />
    </td></tr>
    <tr><td>
        <label for="notes">Notes: </label></td><td>
        <textarea name="notes" id="notes">${plantData.notes}</textarea>
    </td></tr>
    <tr><td>
        <input type="submit" value="Submit Plant Data" />
    </td></tr>
</table>
#{/form}