<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
        
        <div id="header">
            <div id="logo">
                GardenDroid.
            </div>
            <ul id="tools">
                <li>
                    <a href="#">Log in to manage the droid</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">about</span>
                <h1><a href="#">${appTitle}</a></h1>
                <h2>${appBaseline}</h2>
            </div>
        </div>
        
        <div id="main">
            #{doLayout /} 
        </div>
        
        <p id="footer">
            GardenDroid Monitoring system helps you manage your droid green house. mee beep! Build with <a href="http://www.arduino.cc">Arduino</a> and  
            <a href="http://www.playframework.org">Play framework</a>.
        </p>
        
    </body>
</html>