<script type="text/javascript">
	var currConds;
	var currCondAction = #{jsAction @RESTController.currentConditions() /}
	
	//After Page load set data values.
	jQuery(window).load(function() {
		retrieveCurrent()
	});
	
	//updates the diplayed data values
	function updateCurrData(data) {
		$('#cond_time').html(data.TEMPERATURE.dateTime);
		$('#tempF').html(data.TEMPERATURE.tempF)
		$('#tempC').html(data.TEMPERATURE.tempC)
		$('#humidity').html(data.HUMIDITY.data)
		$('#moist').html(data.MOISTURE.data)
		$('#grow').html(getStatusDesc(data.GROW_LITE.data))
		$('#ambLite').html(data.AMBIENT_LIGHT.data)
		if(data.WATER_IRRIGATION)
			$('#water').html(getStatusDesc(data.WATER_IRRIGATION.data))
		if(data.TEMP_WARNING) {
			$('#warn').html((data.TEMP_WARNING.data = 1)? 'Warning!':'')
		}
	}
	
	function getStatusDesc(value) {
		return (value == 1)?'ON':'OFF'
	}
	
	//Makes call to REST service
	function retrieveCurrent() {
		$.getJSON(currCondAction(),function(data) {
			updateCurrData(data);
		})
	}
	
	setInterval( "retrieveCurrent()", 10000 );
</script>

 	<div class="post">
       <h2 class="post-title">
           <a href="#">Current Conditions</a>
       </h2>
       <div id='cond_time' class="post-time"></div>
       <div class="post-metadata">
       	   
           <span class="post-author"> <span id='tempF'></span> F</span>
           <span class="post-date"> (<span id='tempC'></span> C)</span>
           <div class="post-date">Humidity: <span id='humidity'></span></div>
           <div class="post-date">Soil Moisture: <span id='moist'></span></div>
           <div class="post-date">Grow Lite: <span id='grow'></span> </div>
           <div class="post-date">Ambient Light: <span id='ambLite'></span> </div>
           <div class="post-date">Irrigation: <span id='water'></span> </div>
           <div class="post-date">Temprature Warning: <span id='warn'></span> </div>
       </div>       
   </div>